/* HEADER */
header {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	flex-wrap: wrap;
}
.contact-info {
	margin-left: 1rem;
	flex-grow: 2;
	padding: 1.3rem;
	color: white;
	width: 15rem;
}
.big-text {
	font-size: 2.5rem;
	line-height: 2.5rem;
}
.cover-content {
	margin-right: 1rem;
	flex-grow: 4;
	padding-left: 1rem;
	color: white;
	font-size: 1rem;
	width: 50rem;
}

.zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomInLeft {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
  transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
  transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@keyframes zoomInLeft {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
  transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
  transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
} 

.rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
@-webkit-keyframes rotateInDownRight {
	0% {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
	}
	100% {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: none;
	transform: none;
	opacity: 1;
	}
}
@keyframes rotateInDownRight {
	0% {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
	}
	100% {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: none;
	transform: none;
	opacity: 1;
	}
} 




@keyframes animate {
	0%{
			transform: translateY(0) rotate(0deg);
			opacity: 1;
			border-radius: 0;
	}
	100%{
			transform: translateY(-1000px) rotate(720deg);
			opacity: 0;
			border-radius: 50%;
	}
}

.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: #0e1010;
	overflow: hidden;
}
.background li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
	left: 57%;
	width: 162px;
	height: 162px;
	bottom: -162px;
	animation-delay: 1s;
}
.background li:nth-child(1) {
	left: 52%;
	width: 145px;
	height: 145px;
	bottom: -145px;
	animation-delay: 3s;
}
.background li:nth-child(2) {
	left: 9%;
	width: 144px;
	height: 144px;
	bottom: -144px;
	animation-delay: 6s;
}
.background li:nth-child(3) {
	left: 52%;
	width: 143px;
	height: 143px;
	bottom: -143px;
	animation-delay: 15s;
}
.background li:nth-child(4) {
	left: 51%;
	width: 155px;
	height: 155px;
	bottom: -155px;
	animation-delay: 18s;
}
.background li:nth-child(5) {
	left: 79%;
	width: 178px;
	height: 178px;
	bottom: -178px;
	animation-delay: 6s;
}
.background li:nth-child(6) {
	left: 87%;
	width: 168px;
	height: 168px;
	bottom: -168px;
	animation-delay: 26s;
}
.background li:nth-child(7) {
	left: 40%;
	width: 167px;
	height: 167px;
	bottom: -167px;
	animation-delay: 20s;
}
.background li:nth-child(8) {
	left: 34%;
	width: 192px;
	height: 192px;
	bottom: -192px;
	animation-delay: 38s;
}
.background li:nth-child(9) {
	left: 12%;
	width: 119px;
	height: 119px;
	bottom: -119px;
	animation-delay: 7s;
}